*{  
    box-sizing: border-box;
}
body {
    margin: 0px;
    font-family: sans-serif;
}
.sc {
    background-color: lightcyan;
    width: 85%; 
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 24px;
    margin-bottom: 24px;
    padding: 24px;
}